model-data/*
*.pyc
data-preparation/dem-ws/aster/downloaded-tiles/*
data-preparation/dem-ws/aster/resampled/*
data-preparation/dem-ws/aster/global-aster.tif
data-preparation/dem-ws/srtm/unzipped/*
data-preparation/dem-ws/srtm/tiles/*
data-preparation/dem-ws/srtm/merged/*
data-preparation/dem-ws/srtm/resampled/*
data-preparation/landuse-ws/*
data-preparation/lakes-ws/nat-earth/*
data-preparation/resources/world-land-mass.gpkg
data-preparation/resources/__pycache__
data-preparation/soil-ws/fao/*
model-setup/CoSWAT-v0.1.1/*
data-preparation/weather-ws/*
model-setup/*
data-preparation/resources/world-lakes-and-reservoirs-old.gpkg
data-preparation/resources/world-lakes-and-reservoirs.gpkg
model-processing/example-models/*
model-processing/__pycache__/operations_module.cpython-310.pyc
model-processing/model1/*
model-processing/model2/*
model-processing/model3/*
model-data/backup/*
data-preparation/resources/grdc_timeseries/*
archived/*
abstract.txt
data-preparation/resources/ws/grdc_tmp.gpkg
data-preparation/resources/regions/africa-*/*.gpkg
data-preparation/resources/regions/africa-*/*.gpkg
data-preparation/resources/regions/africa-*/*.gpkg
data-preparation/resources/grdc_major_rivers.qmd
data-preparation/resources/CoSWAT-GM-world-land-masses-EPSG-3395.gpkg
*qmd
data-preparation/resources/QSWATPlus/imageio/resources/images/*.mp4
data-preparation/resources/QSWATPlus/testdata
model-outputs/*
data-preparation/resources/swatplus_wgn.sqlite
*bounding-box-ESRI-54003.gpkg
*weather-station-points-ESRI-54003.gpkg
data-preparation/resources/QSWATPlus/__pycache__
log.txt
data-preparation/resources/QSWATPlus.old
data-preparation/resources/QSWATPlus/fonts
data-preparation/resources/QSWATPlus.old-06-12-2023
data-preparation/resources/taudem
docker-resources/TauDEM/*
data-preparation/resources/weather-lists/*
data-preparation/resources/regions/*
*global-aster.tif
*grdc_major_basins.geojson
*stationbasins_2.geojson
*stationbasins_3.geojson
*stationbasins_4.geojson
*stationbasins_5.geojson
data-preparation/resources/QSWATPlus
data-preparation/resources/login.py
data-preparation/resources/swatplus_wgn.zip
/data-preparation/dem-ws
/.vscode
